In [4]:
from scipy.io import loadmat
import pandas as pd
import numpy as np

In [3]:
data = loadmat("imdb.mat")

In [6]:
import datetime

mdata = data['imdb']  # variable in mat file
mdtype = mdata.dtype
ndata = {n: mdata[n][0, 0] for n in mdtype.names}
df = pd.DataFrame()
for key in ndata:
    df[key] = pd.DataFrame(ndata[key].T)
df['dob'] = df['dob'].apply(lambda x: datetime.date.fromordinal(np.max([x - 366, 1])).year)
df['age'] = df['photo_taken'] - df['dob']
df

,dob,photo_taken,full_path,gender,name,face_location,face_score,second_face_score,celeb_names,celeb_id,age
0,1899,1968,[01/nm0000001_rm124825600_1899-5-10_1968.jpg],1.0,[Fred Astaire],"[[1072.926, 161.838, 1214.7839999999999, 303.6...",1.459693,1.118973,['Lee' George Quinones],6488,69
1,1899,1970,[01/nm0000001_rm3343756032_1899-5-10_1970.jpg],1.0,[Fred Astaire],"[[477.184, 100.352, 622.592, 245.76]]",2.543198,1.852008,['Weird Al' Yankovic],6488,71
2,1899,1968,[01/nm0000001_rm577153792_1899-5-10_1968.jpg],1.0,[Fred Astaire],"[[114.96964308962852, 114.96964308962852, 451....",3.455579,2.985660,[2 Chainz],6488,69
3,1899,1968,[01/nm0000001_rm946909184_1899-5-10_1968.jpg],1.0,[Fred Astaire],"[[622.8855056426588, 424.21750383700805, 844.3...",1.872117,NaN,[50 Cent],6488,69
4,1899,1968,[01/nm0000001_rm980463616_1899-5-10_1968.jpg],1.0,[Fred Astaire],"[[1013.8590023603723, 233.8820422075853, 1201....",1.158766,NaN,[A Martinez],6488,69
...,...,...,...,...,...,...,...,...,...,...,...
460718,1989,2011,[08/nm3994408_rm761245696_1989-12-29_2011.jpg],0.0,[Jane Levy],"[[453.8981431333457, 77.96623712908011, 539.79...",3.845884,NaN,NaN,8410,22
460719,1989,2011,[08/nm3994408_rm784182528_1989-12-29_2011.jpg],0.0,[Jane Levy],"[[1, 1, 426, 640]]",-inf,NaN,NaN,8410,22
460720,1989,2011,[08/nm3994408_rm926592512_1989-12-29_2011.jpg],0.0,[Jane Levy],"[[1, 1, 453, 640]]",-inf,NaN,NaN,8410,22
460721,1989,2011,[08/nm3994408_rm943369728_1989-12-29_2011.jpg],0.0,[Jane Levy],"[[144.75225471724875, 126.76472287759263, 305....",4.450725,NaN,NaN,8410,22
460722,1989,2011,[08/nm3994408_rm976924160_1989-12-29_2011.jpg],0.0,[Jane Levy],"[[457.524, 41.748, 518.016, 102.24]]",2.133503,NaN,NaN,8410,22

In [ ]:
df.to_csv('imdb.csv')

In [7]:
df['age'].value_counts()

31      17428
32      15860
36      15605
29      15309
34      15224
        ...
1998        1
135         1
131         1
282         1
110         1
Name: age, Length: 162, dtype: int64

In [5]:
df = pd.read_csv('../cured_imdb.csv', low_memory=False)
df

,Unnamed: 0.1,Unnamed: 0,dob,photo_taken,full_path,gender,name,face_location,face_score,second_face_score,celeb_names,celeb_id,age,max_image_dim
0,0,0,1899,1968,01/nm0000001_rm124825600_1899-5-10_1968.jpg,1.0,['Fred Astaire'],[[1072.926 161.838 1214.784 303.696]],1.459693,1.118973,"[""'Lee' George Quinones""]",6488,69,141.858000
1,1,1,1899,1970,01/nm0000001_rm3343756032_1899-5-10_1970.jpg,1.0,['Fred Astaire'],[[477.184 100.352 622.592 245.76 ]],2.543198,1.852008,"[""'Weird Al' Yankovic""]",6488,71,145.408000
2,3,3,1899,1968,01/nm0000001_rm946909184_1899-5-10_1968.jpg,1.0,['Fred Astaire'],[[622.88550564 424.21750384 844.33900767 645.6...,1.872117,NaN,['50 Cent'],6488,69,221.453502
3,4,4,1899,1968,01/nm0000001_rm980463616_1899-5-10_1968.jpg,1.0,['Fred Astaire'],[[1013.85900236 233.88204221 1201.5861278 4...,1.158766,NaN,['A Martinez'],6488,69,187.727125
4,6,6,1924,2004,02/nm0000002_rm1346607872_1924-9-16_2004.jpg,0.0,['Lauren Bacall'],[[ 78.23569407 52.33512938 194.25423516 168.3...,3.479189,NaN,['A.J. Buckley'],11516,80,116.018541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121959,460705,460705,1989,2011,08/nm3994408_rm540716544_1989-12-29_2011.jpg,0.0,['Jane Levy'],[[249.2290693 88.51449505 379.87081187 219.1...,2.663068,NaN,NaN,8410,22,130.641743
121960,460707,460707,1989,2011,08/nm3994408_rm543141888_1989-12-29_2011.jpg,0.0,['Jane Levy'],[[321.23 146.51 451.36 276.64]],2.222078,0.776222,NaN,8410,22,130.130000
121961,460712,460712,1989,2012,08/nm3994408_rm663989760_1989-12-29_2012.jpg,0.0,['Jane Levy'],[[1094.72200993 151.04900135 1316.17551196 3...,3.594701,2.786236,NaN,8410,23,221.453502
121962,460716,460716,1989,2011,08/nm3994408_rm744468480_1989-12-29_2011.jpg,0.0,['Jane Levy'],[[300.756 96.276 422.592 218.112]],2.370091,NaN,NaN,8410,22,121.836000
121963,460721,460721,1989,2011,08/nm3994408_rm943369728_1989-12-29_2011.jpg,0.0,['Jane Levy'],[[144.75225472 126.76472288 305.78804127 287.8...,4.450725,NaN,NaN,8410,22,161.035787

In [8]:
df.sample(n=5000).reset_index()

,index,Unnamed: 0.1,Unnamed: 0,dob,photo_taken,full_path,gender,name,face_location,face_score,second_face_score,celeb_names,celeb_id,age,max_image_dim
0,85957,324333,324333,1976,2004,81/nm0842081_rm1263250688_1976-9-19_2004.jpg,0.0,['Alison Sweeney'],[[1687.80189538 353.2467282 1843.79332307 5...,5.070649,3.312925,NaN,650,28,155.991428
1,34693,129200,129200,1943,1967,90/nm0001790_rm3112153088_1943-1-24_1967.jpg,0.0,['Sharon Tate'],[[612.32731869 386.27942288 813.77242491 587.7...,1.507596,1.277056,NaN,17626,24,201.445106
2,14773,55621,55621,1946,2008,18/nm0000418_rm2321193472_1946-7-22_2008.jpg,1.0,['Danny Glover'],[[152.07118422 76.31459211 265.14807238 189.3...,2.833349,NaN,NaN,4429,62,113.076888
3,72739,274882,274882,1970,2013,72/nm0134072_rm362127616_1970-5-3_2013.jpg,1.0,['Bobby Cannavale'],[[854.016 231.424 999.424 376.832]],0.881781,0.750205,NaN,2260,43,145.408000
4,374,1567,1567,1914,1964,86/nm0000086_rm3956864768_1914-7-31_1964.jpg,1.0,['Louis de Funès'],[[233.2333923 296.56977201 422.24253145 485.5...,3.862970,3.675853,['Ashlyn Sanchez'],12138,50,189.009139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,98528,371095,371095,1985,2014,36/nm0461136_rm2519647488_1985-3-26_2014.jpg,0.0,['Keira Knightley'],[[546.66689184 627.35117212 726.15852246 806.8...,0.993218,NaN,NaN,10747,29,179.491631
4996,23508,88758,88758,1960,2010,33/nm0000933_rm1476231936_1960-4-23_2010.jpg,0.0,['Valerie Bertinelli'],[[ 81.19543772 81.19543772 225.61122561 225.6...,6.004624,NaN,NaN,19526,50,144.415788
4997,95836,361346,361346,1969,2014,09/nm0164809_rm4026581504_1969-7-17_2014.jpg,1.0,['Jason Clarke'],[[1112.44415705 209.07101233 1279.77862168 3...,1.935723,NaN,NaN,8499,45,167.334465
4998,53883,202804,202804,1981,2008,60/nm1602660_rm3209531904_1981-8-20_2008.jpg,1.0,['Ben Barnes'],[[257.69071193 41.19158609 378.87347021 162.3...,3.656366,0.940015,NaN,1834,27,121.182758
4999,75461,285589,285589,1973,2007,88/nm1433588_rm497989120_1973-3-24_2007.jpg,1.0,['Jim Parsons'],[[1442.46353365 104.8902524 1594.79891225 2...,2.091644,1.873279,NaN,9186,34,152.335379