In [4]:
from scipy.io import loadmat
import pandas as pd
import numpy as np

In [3]:
data = loadmat("imdb.mat")

In [6]:
import datetime

mdata = data['imdb']  # variable in mat file
mdtype = mdata.dtype
ndata = {n: mdata[n][0, 0] for n in mdtype.names}
df = pd.DataFrame()
for key in ndata:
    df[key] = pd.DataFrame(ndata[key].T)
df['dob'] = df['dob'].apply(lambda x: datetime.date.fromordinal(np.max([x - 366, 1])).year)
df['age'] = df['photo_taken'] - df['dob']
df

,dob,photo_taken,full_path,gender,name,face_location,face_score,second_face_score,celeb_names,celeb_id,age
0,1899,1968,[01/nm0000001_rm124825600_1899-5-10_1968.jpg],1.0,[Fred Astaire],"[[1072.926, 161.838, 1214.7839999999999, 303.6...",1.459693,1.118973,['Lee' George Quinones],6488,69
1,1899,1970,[01/nm0000001_rm3343756032_1899-5-10_1970.jpg],1.0,[Fred Astaire],"[[477.184, 100.352, 622.592, 245.76]]",2.543198,1.852008,['Weird Al' Yankovic],6488,71
2,1899,1968,[01/nm0000001_rm577153792_1899-5-10_1968.jpg],1.0,[Fred Astaire],"[[114.96964308962852, 114.96964308962852, 451....",3.455579,2.985660,[2 Chainz],6488,69
3,1899,1968,[01/nm0000001_rm946909184_1899-5-10_1968.jpg],1.0,[Fred Astaire],"[[622.8855056426588, 424.21750383700805, 844.3...",1.872117,NaN,[50 Cent],6488,69
4,1899,1968,[01/nm0000001_rm980463616_1899-5-10_1968.jpg],1.0,[Fred Astaire],"[[1013.8590023603723, 233.8820422075853, 1201....",1.158766,NaN,[A Martinez],6488,69
...,...,...,...,...,...,...,...,...,...,...,...
460718,1989,2011,[08/nm3994408_rm761245696_1989-12-29_2011.jpg],0.0,[Jane Levy],"[[453.8981431333457, 77.96623712908011, 539.79...",3.845884,NaN,NaN,8410,22
460719,1989,2011,[08/nm3994408_rm784182528_1989-12-29_2011.jpg],0.0,[Jane Levy],"[[1, 1, 426, 640]]",-inf,NaN,NaN,8410,22
460720,1989,2011,[08/nm3994408_rm926592512_1989-12-29_2011.jpg],0.0,[Jane Levy],"[[1, 1, 453, 640]]",-inf,NaN,NaN,8410,22
460721,1989,2011,[08/nm3994408_rm943369728_1989-12-29_2011.jpg],0.0,[Jane Levy],"[[144.75225471724875, 126.76472287759263, 305....",4.450725,NaN,NaN,8410,22
460722,1989,2011,[08/nm3994408_rm976924160_1989-12-29_2011.jpg],0.0,[Jane Levy],"[[457.524, 41.748, 518.016, 102.24]]",2.133503,NaN,NaN,8410,22

In [ ]:
df.to_csv('imdb.csv')

In [7]:
df['age'].value_counts()

31      17428
32      15860
36      15605
29      15309
34      15224
        ...
1998        1
135         1
131         1
282         1
110         1
Name: age, Length: 162, dtype: int64

In [14]:
df = pd.read_csv('imdb.csv', low_memory=False)
df['full_path'][0]

"['01/nm0000001_rm124825600_1899-5-10_1968.jpg']"

In [ ]:
df = df[(df['age'] > 0) & (df['age'] < 100)]